<div class="navbar navbar-blue navbar-static-top">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{{ path('idix_films_home') }}" class="navbar-brand logo">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ path('film_index') }}">Admin Films</a>
            </li>
            <li>
                <a href="{{ path('character_index') }}">Admin Characters</a>
            </li>
        </ul>
    </nav>
</div>
